<aside>
	<div class="panel radius">
		<h3>Policy</h3>
		<p>
			Gli articoli del blog sono commentabili.
			I commenti devono essere pertinenti; gli amministratori della pagina si riservano di rimuovere i commenti gratuitamente polemici, soprattutto se reiterati (cosiddetti “trolling” o “flame”).
      I contributi del pubblico verranno comunque cancellati nei seguenti casi:
      <ul>
			<li>promozione o sostegno di attività illegali;</li>
      <li>utilizzo di un linguaggio offensivo o scurrile;</li>
      <li>diffamazione o minaccia;</li>
			<li>diffusione non autorizzata di dati personali di terzi;</li>
      <li>attacchi personali di qualsiasi tipo o commenti offensivi rivolti a qualunque gruppo etnico, politico o religioso o a specifiche minoranze;</li>
      <li>spam o inserimento link a siti esterni fuori tema;</li>
			<li>promozione di prodotti, servizi od organizzazioni politiche;</li>
      <li>violazioni del diritto d’autore e utilizzo non autorizzato di marchi registrati;</li>
		 </ul>
		</p>
	</div>
  <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt="">


	<div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div>
</aside>
